<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
    <body>
        <%- include('navbar.ejs') %>

            <main>
                <% if (builds.length > 0) { %>
                    <div class="builds container">
                        <% for (let build of builds) { %>
                            <div class="builds">
                                <div class="build">
                                  <a href="/admin/view-build/<%= build.postId %>"><%= build.title %></a>
                                    <p>
                                        <%= build.race %> 
                                        vs
                                        <%= build.enemy %> 
                                      </p>
                                      <p class="build-type"><%= build.type %> </p>
                                     
                                </div>
                                </div>
                                <div class="no-builds">
                                  <% } %>
                                
                              <% } else { %>
                                <h1>No Builds Found!</h1>
                              <% } %>
                            </div>
                          </main>
                          <script src="/css/script.js"></script>
                        </body>
                        </html>
                                    
                               
                              
                                   
                                   
                                
                              
                                
                                
                                
                                  
                                
                                
           
            
  

